footer {
    background-color: $Very-Light-Gray;
    position: relative;
    overflow: hidden;
    &::before {
        content: url(/assets/images/bg-pattern-footer-mobile.svg);
        position: absolute;
        top: 0;
        left: 0;
    }
    .footer-container {
        @include wide-container;
        text-align: center;
        padding: 5.5rem 0;
        position: relative;
        &__upper {
            border-bottom: 1px solid $Very-Light-Gray2;
            padding-bottom: 2rem;
            img {
                margin-bottom: 1.75rem;
            }
            .social-links {
                display: flex;
                justify-content: center;
                align-items: center;
                li {
                    margin: 0 .5rem;
                    a {
                        color: $Dark-Grayish-Violet;
                        font-size: 1.5rem;
                        &:hover {
                            color: $Very-Dark-Violet;
                        }
                    }
                }
            }
        }
        &__lower {
            padding-top: 2rem;
            .footer-nav {
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: .1em;
                h4 {
                    font-family: inherit;
                    color: $Dark-Grayish-Violet;
                }
                ul {
                    margin: 2rem 0;
                    li {
                        margin-bottom: 1rem;
                        a {
                            color: $Very-Dark-Violet;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}
.attribution { 
    font-size: 1rem; 
    text-align: center; 
    padding: 1rem 0;
    @include wide-container;
    a { 
        color: hsl(228, 45%, 44%); 
        font-weight: 700;
    }
}
    
@media screen and (min-width: 48em) {
    footer {
        &::before {
            content: url(/assets/images/bg-pattern-footer-desktop.svg);
        }
        .footer-container {
            text-align: initial !important;
            padding: 4rem;
            &__upper {
                @include space-between;
                img {
                    margin: 0 !important;
                }
            }
            &__lower {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
            }
        }
    }
}

@media screen and (min-width: 55em) {
    .footer-container__lower {
        grid-template-columns: repeat(4, 1fr) !important;
        .footer-nav ul {
            margin-bottom: 0 !important;
        }
    }
}