.hero-container {
    background-color: $Dark-Violet;
    img {
        width: 100%;
    }
    &__content {
        text-align: center;
        padding: 5.5rem 0;
        position: relative;
        h1 {
            color: $Very-Light-Gray;
            @include wide-container;
            position: relative;
        }
        p {
            @include wide-container;
            margin-top: 1rem;
            margin-bottom: 2rem;
            color: $Very-Light-Gray;
        }
        &::before {
            content: url(/assets/images/bg-pattern-intro-left-mobile.svg);
            position: absolute;
            top: 0;
            left: 0;
        }
        &::after {
            content: url(/assets/images/bg-pattern-intro-right-mobile.svg);
            position: absolute;
            right: 0;
        }
    }
}