.hero {
    background-color: $Dark-Violet;
}
.hero-container {
    .intro-mobile {
        width: 100%;
    }
    &__content {
        text-align: center;
        padding: 5.5rem 0;
        position: relative;
        h1 {
            color: $Very-Light-Gray;
            @include wide-container;
            position: relative;
        }
        p {
            @include wide-container;
            margin-top: 1rem;
            margin-bottom: 2rem;
            color: $Very-Light-Gray;
        }
        &::before {
            content: url(/assets/images/bg-pattern-intro-left-mobile.svg);
            position: absolute;
            top: 0;
            left: 0;
        }
        &::after {
            content: url(/assets/images/bg-pattern-intro-right-mobile.svg);
            position: absolute;
            right: 0;
        }
    }
    .intro-desktop {
        display: none;
    }
}

@media screen and (min-width: 48em) {
    .hero {
        height: 28rem;
    }
    .hero-container {
        display: flex;
        padding: 4rem 0;
        @include wide-container;
        .intro-mobile {
            display: none;
        }
        .intro-desktop {
            display: block;
            width: 50%;
        }
        &__content {
            padding: 2rem 1rem 2rem 0;
            width: 50%;
            text-align: initial;
            position: relative;
            z-index: 1;
            h1, p {
                margin-left: 0;
                margin-right: 0;
                width: initial;
                max-width: initial;
            }
            &::before, &::after {
                content: none;
            }
            &::before {
                content: '';
                height: .1rem;
                width: 9.5rem;
                background-color: $Dark-Grayish-Violet;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        &::before {
            content: url(/assets/images/bg-pattern-intro-right-desktop.svg);
            position: absolute;
            right: 0;
            top: 0;
        }
        &::after {
            content: url(/assets/images/bg-pattern-intro-left-desktop.svg);
            position: absolute;
            left: 0;
            transform: translateY(65%);
        }
    }
}

@media screen and (min-width: 64em) {
    .hero {
        height: 33rem;
    }
}

@media screen and (min-width: 80em) {
    .hero {
        height: 37.5rem;
        .hero-container {
            padding: 6.5rem 0;
            &__content {
                padding-top: 4rem;
            }
        }
    }
}