.works {
    @include wide-container;
    margin-bottom: 9rem;
    .works-container {
        background-color: $Dark-Violet;
        text-align: center;
        padding: 4rem 2rem;
        position: relative;
        overflow: hidden;
        &::before {
            content: url(/assets/images/bg-pattern-how-we-work-mobile.svg);
            position: absolute;
            top: 0;
            right: 0;
        }
        h2 {
            font-size: 2.5rem;
            color: $Very-Light-Gray;
            margin-bottom: 3rem;
            position: relative;
        }
        a {
            position: relative;
        }
    }
}

@media screen and (min-width: 55em) {
    .works-container {
        @include space-between;
        padding: 4rem !important;
        &::before {
            content: url(/assets/images/bg-pattern-how-we-work-desktop.svg) !important;
        }
        h2 {
            margin: 0 !important;
            text-align: initial !important;
            font-size: 3.25rem !important;
        }
    }
}