.link-button {
    padding: .75em 1.25em;
    text-transform: uppercase;
    color: $Very-Light-Gray;
    border: 2px solid $Very-Light-Gray;
    display: inline-block;
    letter-spacing: .1em;
    transition: background .2s;
    &:hover {
        background-color: $Very-Light-Gray;
        color: $Very-Dark-Violet;
    }
}